body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.flex-container{
  display: flex;
  color: #333;
  margin-top: 50px;
}
.width-50{
  width: 50%;
  margin: 0 5%;
}
.width-50 img{
  width: 100%;
}
.flex-container h1{
  font-size: 50px;
  font-weight: 600;
}
.flex-container p{
  margin-bottom: 50px;
}
.red-color{
  color: red;
}
.buy-car-btn, .contact-me-btn{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #ff260093, #ff5233);
  padding: 10px 30px;
  border-radius: 30px;
}
.about-me{
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-container{
  width: 1100px;
  margin: auto;
}
.about-me .width-50{
  margin: 0;
}
.about-me .width-50 img{
  width: 450px;
  margin-bottom: -5px;
}
.about-me h2{
  font-size: 35px;
  margin-top: 100px;
}
.about-me p{
  margin-bottom: 80px;
}
.our-cars{
  text-align: center;
  margin: 150px 0;
}
.our-cars p{
  color: #777;
  width: 600px;
  margin: auto;
}
.cars{
  text-align: left;
  gap: 30px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.cars p{
  width: 100%;
}
.car-item{
  border-radius: 10px;
  box-shadow: 0 0 7px 2px #cfcfcf;
  padding: 30px;
  margin: 0;
}
.car-price{
  margin-left: 120px;
}